div {
    margin-top: 20%;
    margin-left: 30%;
    background-color: #ffcc07;
    width: 30%;
}
body {
    background-image: url("images/123.jpg");
}
div p {
    font-size: 20px;
    font-family: sans-serif;
}